*{
box-sizing:border-box;
font-family:Tahoma;
}

body{
margin:0;
background:#f3f4f6;
}

header{
background:#111827;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

.container{
display:grid;
grid-template-columns:1fr 380px;
gap:15px;
padding:15px;
}

.menu,.cart{
background:white;
padding:15px;
border-radius:14px;
box-shadow:0 4px 10px #0001;
}

.category-title{
background:#111827;
color:white;
padding:12px;
border-radius:10px;
margin-bottom:10px;
cursor:pointer;
font-weight:bold;
}

.items{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(120px,1fr));
gap:10px;
margin-bottom:10px;
}

.item{
background:#f9fafb;
padding:15px;
border-radius:10px;
text-align:center;
cursor:pointer;
border:1px solid #ddd;
font-weight:bold;
}

.item:hover{
background:#fde68a;
}

input,select{
width:100%;
padding:10px;
margin:5px 0;
border-radius:8px;
border:1px solid #ccc;
}

button{
border:0;
padding:10px;
border-radius:8px;
cursor:pointer;
background:#111827;
color:white;
margin:3px;
}

.logo{
width:120px;
display:block;
margin:auto;
}

#cartItems{
margin-top:10px;
}

.modal{
display:none;
position:fixed;
inset:0;
background:#0008;
padding:20px;
overflow:auto;
}

.box{
background:white;
padding:20px;
border-radius:14px;
max-width:700px;
margin:auto;
}

.invoice-box{
border:1px solid #ddd;
padding:10px;
margin:10px 0;
border-radius:10px;
}

@media(max-width:800px){
.container{
grid-template-columns:1fr;
}
}
